<link rel="stylesheet" href="/css/application.css">
<link rel="stylesheet" href="/css/normalize.css">

<% if logged_in? && @card.deck.user_id == current_user.id %>

  <form action="/cards/<%=@card.id%>" method = "post">
    <input type="hidden" name="_method" value="put">
      <h1>Question</h1>
      <div id = "container">  
      <input class="button-primary" type='text' name ='question' value="<%= @card.question%>"/>
    </div>
      <h1>Answer</h1>
      <div id = "container">  
      <input type='text' name ='answer' value="<%= @card.answer%>"/>
      <input class="button-primary" type = 'submit' value = 'update card'/>
    </div>
  </form>

  <form action="/cards/<%=@card.id%>" method = "post">
    <div id = "container">  
    <input type="hidden" name="_method" value="delete">
      <input class="button-primary" type = 'submit' value = 'Delete Card'/>
    </div>
  </form>

<%elsif logged_in? %>

  <h1>401: You are not authorized to edit this card.</h1>

<%else%>
  <h1>Please login/register to edit this card.</h1>
<% end %>
