<link rel="stylesheet" href="/css/application.css">
<link rel="stylesheet" href="/css/normalize.css">

<h2> The <b> REAL </b> islandfrogs Flash Cards </h2>

<h5><u>Public Decks:</u></h5>
<div class = "center-link">
<% @decks.select {|deck| deck.user_id == nil }.each do |deck|%>
<a href="/decks/<%= deck.id%>"><%= deck.name %></a>
<h1></h1>
<% end %>
</div>

<h5><u>Your Own Decks:</u></h5>
<div class = "center-link">
<%if logged_in? %>
<div class = "center-link">
<% @decks.select {|deck| deck.user_id == current_user.id }.each do |deck|%>
<a href="/decks/<%= deck.id%>"><%= deck.name %></a>
</div>
<% end %>
</div>
<%end%>
<h1></h1>
<div class = "center-link">
<b><a href="/decks/new">Create+</a></b>
</div>
